{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Estratificação de Risco Cardiovascular</title>
    <link rel="icon" href="static\imagens\Frame_6.png" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--!!!!!!CADA SESSÃO DEVE MOSTRAR A QUANTIDADE DE FATORES DE RISCOS ESCOLHIDOS!!!!!!!! -->
</head>
<body>
    <header class="cabecalho">
        <nav class="navbar">
              <a class="navbar-brand" href="{% url 'calculo_risco' %}">
                <img src="{%static 'imagens/logo_sertao.png'%}" alt="Sertao_cuidado" width="150" height="60">
              </a>
          </nav>
    </header>
    <div class="paragrafo">
        <p>Preencha os campos com cuidado para ter um retorno preciso dos resultados</p>
    </div>
    <div class="titulo">
        <h1>Instrumento de Estratificação de Risco Cardiovascular</h1>
        {% if calculo_risco != None %}
        <h2>Calculo de risco é {{calculo_risco}}</h2>
        {% endif %}
    </div>
    
    <form action="{% url 'calculo_risco'%}" enctype="multipart/form-data"  method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="container overflow-hidden">
            <div class="row mb-4">
                <div class="col-md-2">
                    <label for="hipertenso" class="form-label">É hipertenso?</label>
                    <select class="form-select" id="hipertenso" aria-label="Default select example"  name="hipertenso" required>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    {% comment %} <input type="checkbox" name="hipertenso" value="Sim"> Sim
                    <input type="checkbox" name="hipertenso" value="Não"> Não<br> {% endcomment %}
                </div>
                <div class="col-md-2">
                    <label for="diabetico" class="form-label">É diabético?</label>
                    <select class="form-select" id="diabetico" aria-label="Default select example"  name="diabetico" required>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    {% comment %} <input type="checkbox" name="diabetico" value="Sim"> Sim
                    <input type="checkbox" name="diabetico" value="Não"> Não<br> {% endcomment %}
                </div>
                <div class="col-md-2">
                    <label for="insulono">Insulino?</label>
                    <select class="form-select" id="insulono" aria-label="Default select example"  name="insulono" required>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    {% comment %} <input type="checkbox" name="insulono" value="Sim"> Sim
                    <input type="checkbox" name="insulono" value="Não"> Não<br> {% endcomment %}
                </div>
                <div class="col-md-2">
                    <label for="amg">AMG?</label>
                    <select class="form-select" id="amg" aria-label="Default select example"  name="amg" required>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    {% comment %} <input type="checkbox" name="amg" value="Sim"> Sim
                    <input type="checkbox" name="amg" value="Não"> Não<br> {% endcomment %}
                </div>
                <div class="col-md-2">
                    <label for="covid">Teve covid?</label>
                     <select class="form-select" id="covid" aria-label="Default select example"  name="covid" required>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    {% comment %} <input type="checkbox" name="covid" value="Sim"> Sim
                    <input type="checkbox" name="covid" value="Não"> Não<br> {% endcomment %}
                </div>
                <div class="col-md-2">
                    <label for="complicacao">Se sim, teve complicações?</label>
                    <select class="form-select" id="complicacao" aria-label="Default select example"  name="complicacao" required>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    {% comment %} <input type="checkbox" name="complicacao" value="Sim"> Sim
                    <input type="checkbox" name="complicacao" value="Não"> Não<br> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row gy-4 mb-5">
                <div class="col-md-3">
                    <label for="peso"  class="form-label">Peso do Paciente (kg):</label>
                    <input type="number" class="form-control" id="peso" name="peso" min="0" step="0.1" required>
                </div>
                <div class="col-md-3">
                    <label for="pressao_arterial" class="form-label">Pressão Arterial Sistólica:</label>
                    <input type="number" class="form-control" id="pressao_arterial_sistolica" name="pressao_arterial_sistolica" value= 130 required>
                </div>
                <div class="col-md-3">
                    <label for="pressao_arterial" class="form-label">Pressão Arterial Diastólica:</label>
                    <input type="number" class="form-control" id="pressao_arterial_diastolica" name="pressao_arterial_diastolica" value= 85 required>
                </div>
                <div class="col-md-3">
                    <label for="imc" class="form-label">IMC:</label>
                    <input type="number" class="form-control" id="imc" name="imc"  step="0.1" min="0" required>
                </div> 
                <div class="col-md-3">
                    <label for="circunferencia_abdominal" class="form-label">CA (cm):</label>
                    <input type="number" class="form-control" id="circunferencia_abdominal" name="circunferencia_abdominal" min="0" required>
                </div> 
                <div class="col-md-3">
                    <label for="altura" class="form-label">Altura (cm):</label>
                    <input type="number" class="form-control" id="altura" name="altura" step="1" min="0" required>
                </div>
                <div class="col-md-3">
                    <label for="raca_cor" class="form-label">Raça/Cor:</label>
                    <select class="form-select" id="raca_cor" aria-label="Default select example"  name="raca_cor" required>
                        <option value="branca">Branca</option>
                        <option value="preta">Preta</option>
                        <option value="parda">Parda</option>
                        <option value="amarela">Amarela</option>
                        <option value="indigena">Indígena</option>
                    </select>
                </div>
            </div>
        </div>

        {% comment %} <label for="sexo">Sexo:</label>
        <select id="sexo" name="sexo" required>
            <option value="masculino">Masculino</option>
            <option value="feminino">Feminino</option>
        </select> {% endcomment %}

        <!-- Seção 1 - Profissionais de Saúde de Nível Superior -->
        <div class="container px-4 titulo">
            <h2>Fatores de risco Cardiovascular na avaliação de risco adicional no hipertenso</h2>
        </div>
        <div class="container overflow-hidden">
            <div class="row mb-4">
                <div class="col">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="sexo">Masculino</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" id="Masculino" name="sexo" value="Sim">
                            <label class="btn btn-outline-secondary" for="Masculino">Sim</label>
                            <input type="radio" class="btn-check" id="Feminino" name="sexo" value="Não">
                            <label class="btn btn-outline-secondary" for="Feminino">Não</label>
                        </div>
                    </div>
                    <label for="idade">Idade (homem &gt; 55 anos ou mulheres &gt; 65 anos)</label>
                    <div class="text-end">
                        <input type="radio" class="btn-check" id="idade" name="idade" value="Sim">
                        <label class="btn btn-outline-secondary" for="idade">Sim</label>
                        <input type="radio" class="btn-check" id="idade_2" name="idade" value="Não">
                        <label class="btn btn-outline-secondary" for="idade_2">Não</label>
                    </div>
                    
                    <label for="historico_dcv">Histórico de DCV prematura em parentes de primeiro grau:</label>
                    <div class="text-end">
                        <input type="radio" class="btn-check" id="historico_dcv" name="historico_dcv" value="Sim">
                        <label class="btn btn-outline-secondary" for="historico_dcv">Sim</label>
                        <input type="radio" class="btn-check" id="historico_dcv_2" name="historico_dcv" value="Não">
                        <label class="btn btn-outline-secondary" for="historico_dcv_2">Não</label>
                    </div>
        
                    <label for="tabagismo">Tabagismo</label>
                    <div class="text-end">
                        <input type="radio" class="btn-check" id="tabagismo" name="tabagismo" value="Sim">
                        <label class="btn btn-outline-secondary" for="tabagismo">Sim</label>
                        <input type="radio" class="btn-check" id="tabagismo_2" name="tabagismo" value="Não">
                        <label class="btn btn-outline-secondary" for="tabagismo_2">Não</label>
                    </div>
        
                    <label for="diabetes">Diabetes melito (DM) já confirmado (glicemia de jejum de, pelo menos, 8 horas &ge; 126mg/dL, glicemia aleatória &ge; 200mg/dL ou HbA1c &ge; 6,5%) ou pré-diabetes (glicemia de jejum entre 100 e 125 mg/dL ou HbA1c entre 5,7 e 6,4%)</label>
                    <div class="text-end">
                        <input type="radio" class="btn-check" id="diabetes" name="diabetes" value="Sim">
                        <label class="btn btn-outline-secondary" for="diabetes">Sim</label>
                        <input type="radio" class="btn-check" id="diabetes_2" name="diabetes" value="Não">
                        <label class="btn btn-outline-secondary" for="diabetes_2">Não</label>
                    </div>
        
                    <label for="obesidade">Obesidade: IMC &ge; 30kg/m² ou CA &ge; 94 cm nos homens ou &ge; 80 cm de mulheres</label>
                    <div class="text-end">
                        <input type="radio" class="btn-check" id="obesidade" name="obesidade" value="Sim">
                        <label class="btn btn-outline-secondary" for="obesidade">Sim</label>
                        <input type="radio" class="btn-check" id="obesidade_2" name="obesidade" value="Não">
                        <label class="btn btn-outline-secondary" for="obesidade_2">Não</label>
                    </div>
        
                    <label for="dislipidemia">Dislipidemia: triglicerídeos &gt; 150 mg/dL e/ou LDL-C &gt; 100 mg/dL e/ou HDL-C &lt; 40 mg/dL </label>
                    <div class="text-end">
                        <input type="radio" class="btn-check" id="dislipidemia" name="dislipidemia" value="Sim">
                        <label class="btn btn-outline-secondary" for="dislipidemia">Sim</label>
                        <input type="radio" class="btn-check" id="dislipidemia_2" name="dislipidemia" value="Não">
                        <label class="btn btn-outline-secondary" for="dislipidemia_2">Não</label>
                    </div>
                </div>
            </div>
        </div>
        

        
        <!-- Seção 2 - Profissional Médico / Enfermeiro -->
        <div class="container px-4 titulo">
            <h2>Lesão de Órgão Alvo</h2>
        </div>
        <div class="container px-4">
            <div class="row gx-5 mb-5">
                <div class="col">                    
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="hipertrofia_ventricular">Hipertrofia Ventricular Esquerda (HVE):</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="hipertrofia_ventricular" id="hipertrofia_ventricular_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="hipertrofia_ventricular_sim">Sim</label>
                            <input type="radio" class="btn-check" name="hipertrofia_ventricular" id="hipertrofia_ventricular_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="hipertrofia_ventricular_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="microalbuminuria">Hipertrofia Microalbuminúria: 30 - 300 mg/ 24 horas ou relação albumina/creatinina urinária 30 - 300mg/g:</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="microalbuminuria" id="microalbuminuria_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="microalbuminuria_sim">Sim</label>
                            <input type="radio" class="btn-check" name="microalbuminuria" id="microalbuminuria_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="microalbuminuria_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="doenca_renal_cronica">Doença renal crônica estágio 3 (RFG-e 30 - 60 ml/min/1,73m²):</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="doenca_renal_cronica" id="doenca_renal_cronica_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="doenca_renal_cronica_sim">Sim</label>
                            <input type="radio" class="btn-check" name="doenca_renal_cronica" id="doenca_renal_cronica_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="doenca_renal_cronica_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="indice_tornozelo">Índice tornozelo -braquial (ITB): < 0,9¹</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="indice_tornozelo" id="indice_tornozelo_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="indice_tornozelo_sim">Sim</label>
                            <input type="radio" class="btn-check" name="indice_tornozelo" id="indice_tornozelo_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="indice_tornozelo_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="espessura_mediointimal">Espessura mediointimal (EMI) da carótida: > 0,9 mm ou placa carotídea, se indicado¹∙²</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="espessura_mediointimal" id="espessura_mediointimal_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="espessura_mediointimal_sim">Sim</label>
                            <input type="radio" class="btn-check" name="espessura_mediointimal" id="espessura_mediointimal_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="espessura_mediointimal_nao">Não</label>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
        
        <!-- Seção 3 - Doença Cardiovascular ou Renal estabelecida -->
        <div class="container px-4 titulo">
            <h2>Doença Cardiovascular ou Renal estabelecida</h2>
        </div>
        <div class="container px-4">
            <div class="row gx-5 mb-5">
                <div class="col">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="ave_isquêmico">AVE isquêmico ou;</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="ave_isquêmico" id="ave_isquemico_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="ave_isquemico_sim">Sim</label>
                            <input type="radio" class="btn-check" name="ave_isquêmico" id="ave_isquemico_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="ave_isquemico_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="hemorragia_cerebral">Hemorragia cerebral ou;</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="hemorragia_cerebral" id="hemorragia_cerebral_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="hemorragia_cerebral_sim">Sim</label>
                            <input type="radio" class="btn-check" name="hemorragia_cerebral" id="hemorragia_cerebral_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="hemorragia_cerebral_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="ataque_isquemico">Ataque isquêmico transitório (AIT).</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="ataque_isquemico" id="ataque_isquemico_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="ataque_isquemico_sim">Sim</label>
                            <input type="radio" class="btn-check" name="ataque_isquemico" id="ataque_isquemico_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="ataque_isquemico_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="angina_estavel">Angina estável ou instável ou;</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="angina_estavel" id="angina_estavel_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="angina_estavel_sim">Sim</label>
                            <input type="radio" class="btn-check" name="angina_estavel" id="angina_estavel_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="angina_estavel_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="infarto_miocardio">Infarto do Miocárdio ou;</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="infarto_miocardio" id="infarto_miocardio_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="infarto_miocardio_sim">Sim</label>
                            <input type="radio" class="btn-check" name="infarto_miocardio" id="infarto_miocardio_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="infarto_miocardio_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="revascularizacao_miocardio">Revascularização do miocardio (angioplastia ou cirurgia) ou;</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="revascularizacao_miocardio" id="revascularizacao_miocardio_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="revascularizacao_miocardio_sim">Sim</label>
                            <input type="radio" class="btn-check" name="revascularizacao_miocardio" id="revascularizacao_miocardio_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="revascularizacao_miocardio_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="clinica_insuficiencia_cardiaca">Clínica de insuficiência cardíaca e/ou fração de ejeção reduzida FEVE &lt; 40;</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="clinica_insuficiencia_cardiaca" id="clinica_insuficiencia_cardiaca_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="clinica_insuficiencia_cardiaca_sim">Sim</label>
                            <input type="radio" class="btn-check" name="clinica_insuficiencia_cardiaca" id="clinica_insuficiencia_cardiaca_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="clinica_insuficiencia_cardiaca_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="doenca_arterial_periferica">Doença arterial periférica sintomática dos membros inferiores ou;</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="doenca_arterial_periferica" id="doenca_arterial_periferica_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="doenca_arterial_periferica_sim">Sim</label>
                            <input type="radio" class="btn-check" name="doenca_arterial_periferica" id="doenca_arterial_periferica_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="doenca_arterial_periferica_nao">Não</label>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label for="doenca_estagio_4">Doença renal crônica estagio 4 (RFG-e < 30 ml/min/1,73m²) ou albuminúria > (300mg / 24h) ou;</label>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="doenca_estagio_4" id="doenca_estagio_4_sim" value="Sim">
                            <label class="btn btn-outline-secondary" for="doenca_estagio_4_sim">Sim</label>
                            <input type="radio" class="btn-check" name="doenca_estagio_4" id="doenca_estagio_4_nao" value="Não">
                            <label class="btn btn-outline-secondary" for="doenca_estagio_4_nao">Não</label>
                        </div>
                    </div>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <label for="doenca_estagio_4">Retinopatia avançada²: hemorragias, exsutados, papiledema ¹⋅³</label>
                            <div class="d-flex">
                                <input type="radio" class="btn-check" name="retinopatia_avancada" id="retinopatia_avancada_sim" value="Sim">
                                <label class="btn btn-outline-secondary" for="retinopatia_avancada_sim">Sim</label>
                                <input type="radio" class="btn-check" name="retinopatia_avancada" id="retinopatia_avancada_nao" value="Não">
                                <label class="btn btn-outline-secondary" for="retinopatia_avancada_nao">Não</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mb-5">
            <button type="submit" class="btn btn-outline-primary">Calcular Risco</button>
        </div>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>